body {
  background-color: #152125;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.logo-center {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

.content {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content div {
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #243940;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  font-size: 14px;
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.043);
  background-color: #324f59;
}

input[type="file"] {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  opacity: 0;
  width: 0;
  transition: all 0.5s;
  margin-left: auto;
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    width: 330px;
    border-radius: 10px;
    font-size: 1em;
    border: 2px solid #324f59;
    background-color: #243940;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

input[type="text"]:focus {
    outline: none;
}


input[type="text"]:hover {
  transform: scale(1.025);
  background-color: #324f59;
}


.file-upload-button {
  position: fixed;
  right: 46%;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #243940;
  border: none;
  color: white;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
}

.file-upload-button:hover {
  transform: scale(1.1);
  background-color: #324f59;
}