body {
  background-color: #152125;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.logo-center {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

.content {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}